.carousel-item p {
    background-color: var(--background-second-color);
    border-radius: 10px;
    transition: background-color 0.3s;
}

.carousel-item img {
    max-height: 40rem;
    opacity: 0.7;
}

main img {
    border: solid 3px #3E2500;
    border-radius: 80%;
    opacity: 0.9;
}
