:root {
    --background-main-color: #333333;
}

body {
    background-color: var(--background-main-color);
    color: white;
}

.navbar-brand, .navbar-text, .nav-link {
    color: white;
    fill: white;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.nav-link:hover {
    color: aquamarine;
    transition: color 0.3s;
}

.navbar-toggler {
    color: white;
}

/* ciara na spodku */
.nav-link {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.nav-link:hover {
    border-bottom: 2px solid aquamarine;
}

.nav-item a:hover svg path {
    fill: aquamarine;
}

.carousel-item p {
    background-color: var(--background-main-color);
    border-radius: 10px; /* Zaoblené okraje */
    transition: background-color 0.3s;
}

.carousel-item img {
    max-height: 40rem;
}

h2 {
    color: black;
}

.btn-custom {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    transition: background-color 0.3s, color 0.3s;
}

.btn-custom:hover {
    background-color: aquamarine;
    color: #333;
}

footer .container {
    margin: 3rem;
}
