:root {
    --background-main-color: #333333;
}

body {
    background-color: var(--background-main-color);
    color: white;
}

.navbar-brand, .navbar-text, .nav-link {
    color: white;
    fill: white;
}

.nav-link:hover {
    color: aquamarine;
}

.navbar-toggler {
    color: white;
}

/* ciara na spodku */
.nav-link {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.nav-link:hover {
    border-bottom: 2px solid aquamarine;
}

.nav-item a:hover svg path {
    fill: aquamarine;
}

.carousel .item {
    height: 100vw;
}

footer {
    background-color: var(--background-main-color);
    color: white;
    height: 10rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 3rem;
    height: 3rem;
}
