@media (min-width: 700px) {
    .search-bar {
        margin: auto;
        min-width: 15rem;
        max-width: 40rem;
    }
}




input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
}

.card-body p.card-text {
    display: none;
}

input[type="checkbox"]:checked + label .card-body p.card-text {
    display: block;
}

